@charset "UTF-8";

/* ==============================================================
  Style Reset
============================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body { line-height: 1; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
ul, ul li, li { list-style:none; }

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cdcdcd;
  margin:1em 0;
  padding:0;
}

input, select { vertical-align:middle; }

img { vertical-align: bottom; border:none; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
p { text-align: justify; text-justify: inter-ideograph; }

/* ==============================================================
  Font Reset
============================================================== */
html { font-size: 62.5%; }

body {
  color: #333;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, Helvetica, "メイリオ", Meiryo, sans-serif;
  font-size: 1.4em;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  background: #fff;
}

/* ==============================================================
  Hyperlink Format
============================================================== */
/* \*/ a { outline:none; overflow:hidden; } /**/
/* \*/ a:focus { outline:none; overflow:hidden; } /**/

a         { color: #000; text-decoration: none; }
a:link    { color: #000; text-decoration: none; }
a:visited { color: #000; text-decoration: none; }
a:hover   { color: #666; text-decoration: underline; }

a:hover img.alpha, img.alpha:hover, .alpha:hover {
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

/* ==============================================================
  clearfix
============================================================== */
.clearfix:after {
  visibility:hidden;
  display:block;
  font-size:0;
  content:".";
  clear:both;
  height:0;
}
* html .clearfix { zoom:1; } /* IE6 */
*:first-child+html .clearfix { zoom:1; } /* IE7 */